@import '../../styles/variables.scss';

label {
 display: block;
 width: 100%;
 font-size: 8px;
 line-height: 9.38px;
}

textarea {
 display: block;
 width: 99%;
 height: 55px;
 margin-top: 4px;
 margin-bottom: 19px;
 border: 1px solid $border-input;
 border-radius: 5px;

 &:disabled {
  opacity: 30%;
}
}