$font-size: 11px;
$line-height: 12.89px; 
$font-color: #000000;
$highlight-color: #4B51EF;
$background-color: #FFFFFF;
$field-color: #A3A3A3;
$background-filter-color: #BDBDBD;
$card-color: #F3F3F3;
$button-disabled-color: #AFAFAF;
$button-active-color: #52CF4F;
$error-color: #D91313;
$shadow: #00000040;
$border-input: #D8D8D8;